*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body{
    height: 100%;
    min-height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

.container-header-menu{
    max-width: 1440px;
    height: 29px;
    margin: 0 auto;
    position: relative;
    background-color: black;
}